*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.fourofour{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hh1{
    font-size: 100px;
    color: red;
}

.hh2 {
    font-size: 50px;
    color: white;
}